body {
 background: #8B0000;
 margin: 25px;
 width: 800px;
 
 display: inline-block;




}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: left;
    width: 800px;
    padding-left: 50px;

}

.container {
   
    width: 500px;
    border: thick;
    margin: 25px;
    padding: 25px;
    background-color: pink;
    position: absolute;

}



h2 {
    color: yellow;

}

img {
    text-align: center;
    vertical-align: center;
    width: 200px;
    height: 200px;
    padding: 15px;

}


.container #left {
    width: 50%;
    height: 500px;
    border: dotted;
    border-color: white;
    float: left;
    text-align: center;
}
.container #right {
    width: 50%;
    height: 500px;
    border: dotted;
    border-color: white;
    float: right;
    text-align: center;
    vertical-align: cener;
    padding-top: 15px


.bottom {

}

@media only screen and (max-width: 768px) {
    .continer {
        height: auto;
        width: auto;
}
}